<div class="todos">
  <form (submit)="addTodo()">
    <input
      type="text"
      name="inputTodo"
      [(ngModel)]="inputTodo"
      placeholder="Task name"
    />
    <input type="submit" value="submit" />
  </form>
  <div class="todo" *ngFor="let todo of todos; let i = index">
    <div class="index">{{ i + 1 }}</div>
    <div
      class="content {{ todo.completed ? 'done' : '' }}"
      (click)="toggleDone(todo.id, todo.completed)"
    >
      {{ todo.content }}
    </div>
    <button (click)="removeTodo(todo.id)">Remove</button>
  </div>
</div>
